<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
</welcome-file-list>
     <servlet>
        <servlet-name>ShowCategoria</servlet-name>
        <servlet-class>Controllers.ShowCategoria</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ShowCategoriaa</servlet-name>
        <servlet-class>Controllers.ShowCategoriaa</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>AddShop</servlet-name>
        <servlet-class>Controllers.AddShop</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Publish</servlet-name>
        <servlet-class>Controllers.Publish</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Comprar</servlet-name>
        <servlet-class>Controllers.Comprar</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ShowLanding</servlet-name>
        <servlet-class>Controllers.ShowLanding</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ShowLaandingadmin</servlet-name>
        <servlet-class>Controllers.ShowLaandingadmin</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>redirectlandingadmin</servlet-name>
        <servlet-class>Controllers.redirectlandingadmin</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>redirectlanding</servlet-name>
        <servlet-class>Controllers.redirectlanding</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>historial</servlet-name>
        <servlet-class>Controllers.historial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProduct</servlet-name>
        <servlet-class>Controllers.ShowProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProducta</servlet-name>
        <servlet-class>Controllers.ShowProducta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowVideo</servlet-name>
        <servlet-class>Controllers.ShowVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carrito</servlet-name>
        <servlet-class>Controllers.Carrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controllers.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCat</servlet-name>
        <servlet-class>Controllers.AddCat</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Borradores</servlet-name>
        <servlet-class>Controllers.Borradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controllers.AddProduct</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>Controllers.Inicio</servlet-class>
    </servlet>
         <servlet>
        <servlet-name>Inicioadmin</servlet-name>
        <servlet-class>Controllers.Inicioadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTopImage</servlet-name>
        <servlet-class>Controllers.GetTopImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPerfilImage</servlet-name>
        <servlet-class>Controllers.GetPerfilImage</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controllers.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductImages</servlet-name>
        <servlet-class>Controllers.AllProductImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddComentario</servlet-name>
        <servlet-class>Controllers.AddComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductImagesA</servlet-name>
        <servlet-class>Controllers.AllProductImagesA</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowCategoria</servlet-name>
        <url-pattern>/ShowCategoria</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ShowCategoriaa</servlet-name>
        <url-pattern>/ShowCategoriaa</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ShowLanding</servlet-name>
        <url-pattern>/ShowLanding</url-pattern>
    </servlet-mapping>
         <servlet-mapping>
        <servlet-name>Publish</servlet-name>
        <url-pattern>/Publish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carrito</servlet-name>
        <url-pattern>/Carrito</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Comprar</servlet-name>
        <url-pattern>/Comprar</url-pattern>
    </servlet-mapping>
         <servlet-mapping>
        <servlet-name>ShowLaandingadmin</servlet-name>
        <url-pattern>/ShowLaandingadmin</url-pattern>
    </servlet-mapping>
         <servlet-mapping>
        <servlet-name>ShowVideo</servlet-name>
        <url-pattern>/ShowVideo</url-pattern>
    </servlet-mapping>
         <servlet-mapping>
        <servlet-name>redirectlandingadmin</servlet-name>
        <url-pattern>/redirectlandingadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirectlanding</servlet-name>
        <url-pattern>/redirectlanding</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ShowProduct</servlet-name>
        <url-pattern>/ShowProduct</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>historial</servlet-name>
        <url-pattern>/historial</url-pattern>
    </servlet-mapping>
         <servlet-mapping>
        <servlet-name>ShowProducta</servlet-name>
        <url-pattern>/ShowProducta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCat</servlet-name>
        <url-pattern>/AddCat</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borradores</servlet-name>
        <url-pattern>/Borradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTopImage</servlet-name>
        <url-pattern>/GetTopImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShop</servlet-name>
        <url-pattern>/AddShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductImages</servlet-name>
        <url-pattern>/AllProductImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductImagesA</servlet-name>
        <url-pattern>/AllProductImagesA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Inicioadmin</servlet-name>
        <url-pattern>/Inicioadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPerfilImage</servlet-name>
        <url-pattern>/GetPerfilImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddComentario</servlet-name>
        <url-pattern>/AddComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
       <resource-ref>
        <description>Project</description>
        <res-ref-name>jdbc/myDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
